/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 30%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}


/*div containing score and timer*/
#topRow {
  margin-top: 3px;
    border: 4px solid black;
    background-image: linear-gradient(
        rgba(66, 56, 206, 0.3) 0%,
        rgba(71, 196, 245, 0.6) 100%
      );
}

/*format score counter*/
#scoreCount {
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    margin: 15px;
    background-color: white;
    border: 2px solid grey;
}

/*format time countdown*/
.lifespan {
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    margin: 15px;
    background-color: white;
    border: 2px solid grey;
}

/*class for both instructions of how to play and feedback text*/
.heading {
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*background for instructions text*/
#instructionDiv{
  background-image: radial-gradient(
    rgba(81, 212, 5, 0.9),
    rgba(229, 255, 0, 0.9)
  );
}

/*format unique to instructional text*/
#instructionText {
    font-weight: bold;
    color: antiquewhite;
}

/*hide class for feedback elements*/
.hide {
    display : none !important;
}

/*hover feature to change button colour*/
.btn-warning:hover{
  color: red !important;
  font-weight: bold;
}

/*format centre column between film posters*/
#centreColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(8, 165, 204, 0.2),
    rgba(238, 8, 8, 0.2)
  );
}

/*format VS text*/
#vs {
  font-weight: bolder;
  font-style: italic;
  padding: 10px;
  font-size: 70px;
  border-radius: 20px;
  background-image: radial-gradient(
    rgba(247, 113, 218, 0.9),
    rgba(255, 251, 41, 0.9)
  );
}

/*div holding feedback gif aligning it centrally and padding from above/below*/
#feedbackGif {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*border for pulled gif*/
#feedbackGif img {
  padding: 2px; 
  border: 2px solid orangered;
}

/*media queries*/
