#topRow {
    background-color: ;
}

#scoreCount {
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    margin: 15px;
}

.timer {
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    margin: 15px;
}

.heading {
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hide {
    display : none !important;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;}
