.container {
    margin-top: 50px;
}

.playButton {
    margin-top: 20px;
}

.description {
    padding-left: 30px;
    background-image: url(../img/backgroundMovie.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
}

.btn {
    margin-top: 100px;
}

#imgSize {
    width: 400px;
    height: 500px;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* div.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

} */

thead {
    font-weight: bold;
}

table,
th,
td {
    padding: 1rem;

}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}